<details name="bio">
    <summary id="summary-bio" aria-controls="content-bio">
        <span>{{ site.author.name }}</span>
        <span>Info</span> <!-- TODO: Make this a nav menu instead -->
    </summary>
    <div id="content-bio" class="content" role="region" aria-labelledby="summary-bio">
        <p>Digital Designer currently at <a href="https://www.legends.net/" target="_blank">Legends</a>. Formerly at <a href="https://www.twobarrels.com/" target="_blank">Two Barrels</a> and <a href="https://www.godaddy.com/" target="_blank">GoDaddy</a>.</p> <!-- TODO: Open external links in new tab automatically -->
        <br>
        <ul>
            <li><a href="mailto:{{ site.author.email }}" target="_blank">Email</a>, </li>
            <li><a href="{{ site.socialLinks.mastodon }}" target="_blank">Mastodon</a>, </li>
            <li><a href="{{ site.socialLinks.linkedin }}" target="_blank">LinkedIn</a>, </li>
            <li><a href="{{ site.socialLinks.github}}" target="_blank">GitHub</a></li>
        </ul>
    </div>
</details>